
body{
    background-color: rgb(143, 152, 155);
    color: rgb(39, 37, 37); 
}
#grid{
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
}
#img{
    width: 150px;
    height: 100px;
    margin-left: 500px;
}
h1{
    margin-left: 500px;
}

#contact{
    margin-left: 500px;
}






